html {
  -webkit-text-size-adjust: none;
}

body {
  font: 13px/1.5 "helvetica neue", helvetica, sans-serif;
  margin: 0;
}

input, button {
  font: 13px "helvetica neue", helvetica, sans-serif;
}

a {
  color: #039;
}

h1 {
  color: #999;
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  color: #999;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
}

h2 strong {
  color: #000;
}

h1 .weather {
  color: #039;
}

a.weather {
  display: block;
  color: #666;
  border: 4px solid #039;
  padding: 15px;
  margin-top: 15px;
  text-decoration: none;
}

a.weather strong {
  display: block;
  color: #000;
  font-size: 18px;
}

a.weather:hover,
a.weather:hover strong {
  background: #039;
  color: #fff;
}

.credit {
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 5px;
  color: #666;
}

.credit a {
  color: #666;
}

.credit a:hover {
  color: #039;
}

.container {
  width: 300px;
  padding: 10px;
  background: #fff;
}

.object {
  margin-top: 20px;
}

.object img {
  display: block;
  margin-bottom: 10px;
  max-width: 320px;
  height: auto;
  margin-left: -10px;
}

@media
  only screen and (min-width: 321px) {
  
  .container {
    width: 450px;
    padding: 40px;
  }
  
  .object img {
    max-width: 450px;
    margin-left: 0;
  }
  
}
